{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('adverts_add') }}">Ajouter une annonce</a> <br>
        <a href="{{ path('adverts_index') }}">Voir les annonces</a> <br>
        <a href="{{ path('contact_index') }}">Nous contacter</a>
    </div>

   
{% endblock %}
